.row.d-flex.align-items-center.justify-content-center{:style => "height: 100vh;"}
  .col-md-6.col-md-offset-3{:style => "margin-top: -160px"}
    .d-flex.align-items-center.justify-content-between
      %h1.text-success{:style => ""} Sign in
      = link_to "Back", root_path, class: 'btn btn-secondary px-4 btn-sm'
    = render 'shared/notice_messages'
    = form_with(url: login_path, scope: :session) do |f|
      .mb-3
        = f.label :email
        = f.email_field :email, class: 'form-control'
      .mb-3
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .mb-3.d-flex.align-items-center
        = f.check_box :remember_me, class: 'me-1'
        = f.label :remember_me, class: 'checkbox'
      .mb-3
        = f.submit 'Sign in', class: 'btn btn-success px-5'
    %span
      You don't have an account yet? #{link_to "Sign up", signup_path, class: "btn-link text-danger fw-bold"} now
