<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= debtor[:full_name] %>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= debtor[:email] %> - 
        <%= debtor[:phone_number] %>
      </h6>
      <p class="card-text"><span class="fw-bold text-danger"><%= total_amount_debt_of_debtor debtor[:id]%> VND</span> of <span class="fw-bold text-danger"><%= total_debt_of_debtor debtor[:id]%></span> debts</p>
      <%= link_to "Detail", debtor, class: "btn btn-outline-primary"%>
      <%= link_to "Delete", debtor, data: {"turbo-method": :delete, turbo_confirm: "Really?" }, class: "btn btn-outline-danger"%>
    </div>
  </div>
</div>
