<div class="d-flex align-items-center justify-content-between mb-2">
  <h2>Add debt</h2>
   <%= link_to "Manage debts", debts_path, class: "btn btn-outline-primary"%>
</div>

<%= form_with(model: @debt) do |f| %>
  <%= render 'shared/notice_messages' %>

  <div class="mb-3">
    <%= f.label :total %>
    <%= f.number_field :total, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3 d-flex align-items-center">
    <%= f.check_box :with_you, class: 'me-1'%>
    <%= f.label :with_you, class: 'checkbox' %>
  </div>

  <div class="mb-3 d-flex align-items-center ">
    <%= f.label 'Debtors' %>
    <div>
      <%= f.collection_check_boxes :debtor_id, Debtor.all.where(user_id: current_user[:id]), :id, :full_name,include_hidden: false do |b|%>
        <div class="form-check">
          <%= b.check_box%>
          <%= b.label%>
        </div>
      <%end%>
    </div>
  </div>

  <div class="mb-3">
   <%= f.submit 'Add debt', class: 'btn btn-danger' %>
  </div>

<% end %>
